@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.navbar{
    width: 100%;
    position: fixed;
    z-index: 999;
    padding: 5px 0;
   background:rgb(145, 240, 67);
    font-family: 'Ubuntu',sans-serif;
    transition: all 0.3s ease;
}
.navbar .sticky{
    padding: 15px 0;
    background: rgb(145, 240, 67);
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: black;
    font-size: 38px;
    font-weight: 600;
}
.navbar .logo a span{
    color: white;
    transition: all 0.3s ease;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .sticky .logo a span{
    color: #fff;
}
.navbar .menu li a{
    color: black;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(245, 244, 244);
}
.navbar .sticky .logo a:hover{
    color: #fff;
}
.home{
    display: flex;
    background: url("images/webDevelopmentBackground.ed90dd85.png") no-repeat center;
    height: 100vh;
    color: rgb(15, 1, 1);
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 30px;
    margin-top: 80px;
}
.home .home-content .text-2{
    font-size: 60px;
    font-weight: 350;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: rgb(145, 240, 67);
    font-weight: 500;
}
.home .home-content p{
    display: inline-block;
    background: rgb(145, 240, 67);
    color: rgb(8, 1, 1);
    font-size: 20px;
    padding: 12px 36px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 80px;
    border-radius: 20px;
    border: 2px solid rgb(145, 240, 67);
    transition: all 0.3s ease;
    margin-left: 60vw;
}
.home .home-content p:hover{
    color: rgb(145, 240, 67);
    background: none;
}
section{
    padding: 100px 0;;
}
.about, .qualification, .skill, .contact{
    font-family: 'Poppins', sans-serif;
}
.about .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 30vw;
    width: 180px;
    height: 3px;
   /* background: #111;*/
    transform: translateX(-50%);
}
.about .title::after{
    content: "-- Who I am --";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(145, 240, 67);
    padding: 5px;
    background: #fff;
    transform: translateX(-50%);
}
.about .about-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 30px;
}
.about .about-content .left{
    width: 45%;
    float: left;
}
.about .about-content .left img{
    height: 350px;
    width: 250px;
    object-fit: cover;
    border: 6px solid black;
    border-radius: 6px;
}
.about .about-content .right{
    width: 40vw;
    float: right;
    background-color: rgb(232, 248, 222);
    padding: 15px;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: rgb(145, 240, 67);
}
.about .about-content .right p{
    text-align: justify;
    font-size: 17px;
}
.qualification{
    color: white;
    background: black;
    height: 100vh;
}
.qualification .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.qualification .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
}
.qualification .title::after{
    content: "-- Education --";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(145, 240, 67);
    padding: 5px;
    transform: translateX(-50%);
}
.qualification .qualification-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.qualification .qualification-content .card{
    width: calc(26% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointor;
    transform: all 0.3s ease;
}
.qualification .qualification-content .card:hover{
    background: rgb(145, 240, 67);
}
.qualification .qualification-content .card .box{
    transition: all 0.3s ease;
}
.qualification .qualification-content .card:hover .box{
    transform: scale(1.05); 
}
.skill .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.skill .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 180px;
    height: 3px;
    background: #fff;
    transform: translateX(-50%);
}
.skill .title::after{
    content: "-- What I Know --";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(145, 240, 67);
    padding: 5px;
    transform: translateX(-50%);
}
.skill .skill-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}
.skill .skill-content .column{
    width: calc(50% - 30px);
}
.skill .skill-content .left{
    width: 40vw;
    float: right;
    background-color: rgb(232, 248, 222);
    padding: 15px;
}
.skill .skill-content .left .text{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
.skill .skill-content .left p{
    text-align: justify;
    font-size: 18px;  
}
.skill .skill-content .right .bars{
    margin-bottom: 8px;
}
.skill .skill-content .right .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skill .skill-content .right span{
    font-weight: 500;
    font-size: 18px;
}
.skill .skill-content .right .line{
    height: 4px;
    width: 100%;
    background: lightgray;
    position: relative;

}
.skill .skill-content .right .line::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 80%;
    left: 0;
    top: 0;
    background: rgb(145, 240, 67);
}
.skill .skill-content .right .html::before{
    width: 90%;
}
.skill .skill-content .right .css::before{
    width: 70%;
}
.skill .skill-content .right .js::before{
    width: 60%;
}
.skill .skill-content .right .reactjs::before{
    width: 55%;
}
.skill .skill-content .right .java::before{
    width: 65%;
}
.skill .skill-content .right .cpp::before{
    width: 70%;
}
.skill .skill-content .right .sql::before{
    width: 60%;
}
.skill .skill-content .right .word,excel::before{
    width: 90%;
}
.contact .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500px;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50px;
    width: 180px;
    height: 3px;
    transform: translateX(-50%);
}
.contact .title::after{
    content: "-- get in touch --";
    position: absolute;
    bottom: -12px;
    left: 50%;
    font-size: 20px;
    color: rgb(145, 240, 67);
    padding: 5px;
    transform: translateX(-50%);
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .info .head{
    font-weight: 700;
    font-size: 20px;
}
.contact .contact-content .info .sub-title{
    color: #fff;
}
.contact .contact-content .card{
    width: 23%;
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 10px 10px;
    cursor: pointor;
    transform: all 0.3s ease;
}
.contact .contact-content .card:hover{
    background: rgb(145, 240, 67);
}
.contact .contact-content .card .box{
    transition: all 0.3s ease;
}
.contact .contact-content .card:hover .box{
    transform: scale(1.05);
}
.contact .contact-content .card .text{
    font-size: 10px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.contact{
    color: white;
    background: rgb(8, 0, 0);
    height: 100vh;
}





































@media (max-width: 1104px){
    .home .max-width{
        margin-left: 0px;
    }

}

@media (max-width: 947px){
.max-width{
    padding: 0 50px;
  }

}

@media (max-width: 991px){
    .max-width{
    padding: 0 50px;
}
.navbar .menu{
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #111;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
}
.navbar .menu .active{
    left: 0;
}
.navbar .menu .li{
    display: inline-block;
    margin: 20px 0;
    font-size: 25px;
}
.home .home-content .text-2{}
}


















































        
        
    